.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eab676;
    color: #00131E;
    flex-wrap: wrap;
}

svg {
    width: 100%;
}

.copyright {
    display: block;
    width: 100%;
}